<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_Zoomanager.Properties.Settings.SittikronDBConnectionString"
            connectionString="Data Source=DESKTOP-92AGDS1\SITTIKRONSQL;Initial Catalog=SittikronDB;Persist Security Info=True;User ID=sa;Password=nona7x_147"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>